    body {
        background-color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    h1 {
        color: black;
        font-family: 'Ranga';
    }
    
    h2 {
        color: black;
        font-family: 'Ranga';
    }
    
    input[type=text] {
        border: #2F3061 solid 8px;
        width: 20rem;
        height: 2rem;
        font-size: 20px;
        border-radius: 15px;
        font-family: monospace;
    }
    
    button {
        background-color: steelblue;
        color: white;
        padding: 15px;
        outline: none;
        border: none;
        margin: 1rem;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .button {
        display: inline-block;
    }
    
    .fa {
        padding: 5px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 4rem 1rem;
    }
    /* Add a hover effect if you want */
    
    .fa:hover {
        opacity: 0.7;
    }
    
    .fa-github {
        background-color: black;
        color: white;
        padding: 1rem;
    }
    
    .fa-instagram {
        background-color: black;
        color: white;
        padding: 1rem;
    }
    
    .socials {
        display: inline-block;
    }